<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProGit - Comunicación para Equipos</title>
  </head>
  <body>
    <!-- Mostrar navbar solo si showLayout es true -->
    <app-navbar *ngIf="showLayout"></app-navbar>

    <!-- Contenido principal enrutado -->
    <router-outlet></router-outlet>

    <!-- Mostrar footer solo si showLayout es true -->
    <app-footer *ngIf="showLayout"></app-footer>
  </body>
</html>
