<header>
  <div class="container">
    <h1 class="logo"><a routerLink="/home">ProGit</a></h1>
    <nav>
      <ul class="nav-buttons">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/about-us">Sobre Nosotros</a></li>

        <!-- Mostrar solo si NO ha iniciado sesión -->
        <li *ngIf="!logeado"><a routerLink="/login">Iniciar Sesión</a></li>
        <li *ngIf="!logeado"><a routerLink="/register">Registrarse</a></li>

        <!-- Mostrar solo si SÍ ha iniciado sesión -->
        <li *ngIf="logeado"><a routerLink="/to-do-list">To-Do List</a></li>
        <li *ngIf="logeado"><a routerLink="/chat">Chat</a></li>
        <li *ngIf="logeado"><a (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
</header>
