<header>
  <div class="container">
    <h1 class="logo"><a routerLink="/home">ProGit</a></h1>
    <nav>
      <ul class="nav-buttons">
        <li><a routerLink="/home" class="btn">Inicio</a></li>
        <li><a routerLink="/about-us" class="btn">Sobre Nosotros</a></li>
        <li><a routerLink="/login" class="btn">Login</a></li>
        <li><a routerLink="/signup" class="btn">Sign Up</a></li>
        <li><a routerLink="/home" class="btn">Log Out</a></li>
      </ul>
    </nav>
  </div>
</header>
