<div class="hero">
  <h2>Quiénes somos</h2>
  <p>
    Somos tres estudiantes de Ingeniería de Sistemas de la Universidad
    Industrial de Santander (UIS), apasionados por el desarrollo de software y
    la creación de soluciones que faciliten la comunicación y colaboración en
    equipos de trabajo.
  </p>

  <section class="team">
    <h3>El equipo ProGit</h3>
    <ul>
      <li>
        <img src="img/foto_juan.enc" alt="Foto de Juan" />
        <strong>Estudiante 1:</strong> Juan Felipe Rojas
      </li>
      <li>
        <img src="img/foto_diego.JPEG" alt="Foto de Diego" />
        <strong>Estudiante 2:</strong> Diego Arévalo
      </li>
      <li>
        <img src="img/foto_brayan.webp" alt="Foto de Brayan" />
        <strong>Estudiante 3:</strong> Brayan Quintero
      </li>
    </ul>
  </section>
</div>
