/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #121212; /* fondo oscuro */
  color: #e0e0e0; /* texto claro */
}

.hero {
  padding: 4rem 0;
  text-align: center;
  background-color: #1e1e1e; /* sección ligeramente más clara que el fondo */
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff; /* encabezado más brillante */
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc; /* texto descriptivo más suave */
}
